[Unit]
Description=Run img-scaleup-uvicorn
PartOf=img-scaleup.service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/img-scaleup
Environment=PATH=/root/img-scaleup/venv/bin
Environment=AWS_CONFIG_FILE=/root/img-scaleup/.aws/config
ExecStart=/root/img-scaleup/venv/bin/uvicorn main:app --host 0.0.0.0 --port 81
TimeoutStopSec=30s
Restart=on-failure


[Install]
WantedBy=multi-user.target