[Unit]
Description=Run img-scaleup
Requires=img-scaleup-celery.service img-scaleup-uvicorn.service
After=network.target img-scaleup-celery.service img-scaleup-uvicorn.service

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/bin/true
RemainAfterExit=yes
SuccessAction=none

[Install]
WantedBy=multi-user.target